<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb</property>
		<property name="hibernate.connection.username">sanket</property>
		<property name="hibernate.connection.password">sanket</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<mapping class="dev.sanket.db.model.CustomerSubscription" />
		<mapping class="dev.sanket.db.model.CustomerSubscriptionKey" />
		<mapping class="dev.sanket.db.model.Employee" />
		<mapping class="dev.sanket.db.model.Address" />
		<mapping class="dev.sanket.db.model.User" />
		<mapping class="dev.sanket.db.model.Vehicle" />
		
	</session-factory>
</hibernate-configuration>
